* text=auto eol=lf

*.json                       linguist-language=JSON-with-Comments

*.js                         linguist-detectable=false
*.mjs                        linguist-detectable=false
*.cjs                        linguist-detectable=false

CHANGELOG.md                 linguist-generated

docs/**                      linguist-documentation

pnpm-lock.yaml               merge=text linguist-generated
